:root {
    font-size: 24px;
}

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    padding: 0;
}

img {
    height:5vh;
    width:5vw
}

button {
    padding:5px;
    border-radius: 15px;
}


.container {
    display:grid;
    width:100vw;
    height:100vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

/* ################ TEMPORARY CODE START, ADDS BORDER LINES #################### */
.container > div {
    border: 1px solid black;
}

/* ############### TEMPORARY CODE END ##############3 */

/* #######################  SIDEBAR ################################# */
.sidebar , .header, .content {
    display:grid;
}

.sidebar {
    grid-template-rows: 1fr 3fr 4fr;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.sidebar > div  {
    margin: 3% 2%;
}

/* ########################## SIDEBAR ##############################*/

/* ########################## HEADER ########################*/
.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display:flex;
    flex-direction: column;
}

.header-upper {
    padding: 15px;
    display:flex;
    align-items: center;

}

.header-lower {
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}

.header-lower-content {
    display:flex;
    flex-direction: row;
}

.header-text {
    display:flex;
    flex-direction: column;
}

#magnifying-glass, #bell {
    height:3vh;
    width:3vw;
}

#mini-pfp {
    height:5vh;
    width:5vw;
}

#hi-there {
    font-size:0.6em;
}

#name {
    font-size:1.3em;
}

/* ########################## HEADER #####################*/

/* ######################### CONTENT ##################### */
.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display:grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 3fr 1fr;
}

.card-container {
    display:grid;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border: solid black 1px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat (3, 1fr);
    margin: 3vh 2vw;
}

.card1 {
    border: solid black 1px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.card2 {
    border:solid black 1px;
    grid-column: 2/3;
    grid-row: 1/2;
}

.card3 {
    border: solid black 1px;
    grid-column: 1/2;
    grid-row: 2/3;
}

.card4 {
    border: solid black 1px;
    grid-column: 2/3;
    grid-row: 2/3;
}

.card5 {
    border: solid black 1px;
    grid-column:1/2;
    grid-row: 3/4;
}

.card6 {
    border: solid black 1px;
    grid-column: 2/3;
    grid-row:3/4;
}

.announcements-container {
    grid-column: 2 / 3;
    grid-row: 1/ 2;
    border: solid black 1px;
    margin: 3vh 2vw;
}

.trending-container {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    border: solid black 1px;
    margin: 3vh 2vw;
}





/* ################################ CONTENT ########################### */